<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tidy">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity" />
        <activity android:name=".createActivities.CreateTaskActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".createActivities.CreateNoteActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".createActivities.CreateProjectActivity"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".detailActivities.NoteDetails"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".detailActivities.NormalCategory"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".detailActivities.FinishedTasksCategory"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".detailActivities.ProjectDetails"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".detailActivities.TaskDetails"
            android:parentActivityName=".MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".pomodoro.PomodoroMain" />
        <activity android:name=".pomodoro.RelaxActivity" />
    </application>

</manifest>